@media(min-width:1024px){
    input{
        width:130%;
        height:2rem;
    }

    #textbox{
        height:25%;
        padding: .7rem;
        font-size: 1rem;
        
    }
}

textarea{
    width:70%;
    height:40%;
    padding: .4rem;
}

#color{
    width:100%;
}